parameters:
    level: 5
    paths:
        - app/
        - database/
        - tests/
    excludePaths:
        - bootstrap/*
        - config/*
        - database/migrations/*
        - resources/*
        - storage/*
        - vendor/*
    ignoreErrors:
        - '#Undefined variable: \$this#'
        - '#Parameter \#1 .* of class .* expects .*, Mockery\\MockInterface given.#'
        - '#Call to an undefined static method Illuminate\\Support\\Facades\\Redis::(get|set|del)\(\).#'

